.first-section-bg,
.second-section-bg,
.fourth-section-bg,
.fifth-section-bg,
.sixth-section-bg {
  position: absolute;
  z-index: 1;

  top: 1000px;
  width: 100%;
  left: -0;
  width: 100%;
}

.second-section-bg {
  top: 1700px;
}
.third-section-bg {
  position: absolute;
  z-index: 1;

  top: 2500px;
  max-width: 100%;
  left: -0;
}
.fourth-section-bg {
  top: 3500px;
  max-width: 100%;
}
.fifth-section-bg {
  top: 4500px;
  max-width: 100%;
}
.sixth-section-bg {
  top: 6200px;
  max-width: 100%;
}
.main-body-area > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.main-body-area main {
  position: relative;

  margin-top: 8rem;
  z-index: 2;
  margin-bottom: 13rem;
  color: #fff;
}
.main-body-area main .presentation {
  width: 70%;
}
.main-body-area main .presentation h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 110px;
  letter-spacing: 5px;
}
.main-body-area main .presentation h1 span:nth-child(2) {
  display: block;
}
.main-body-area main .buttons-wrapper {
  margin-top: 13rem;
}
.main-body-area main .buttons-wrapper > * + * {
  margin-left: 2rem;
}
.main-body-area main .buttons-wrapper button {
  min-width: 236px;
  height: 78px;
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #2a2a2a;
  box-shadow: 0px 5px 20px #f5d83567;
  background-color: #ffdc2d;
  cursor: pointer;
  letter-spacing: 2px;
}
.main-body-area main .buttons-wrapper button:last-child {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(86px);
  box-shadow: none;
  color: #fff;
  border: 1px solid #9796ad;
}
.main-body-area main .hero-main-image {
  position: absolute;
  top: 60%;
  right: 0px;
  width: 70%;
  transform: translateY(-60%);
}
/* sections area start */
.main-body-area section {
  position: relative;
}
.main-body-area .padding-common {
  /* padding: 10rem 0rem; */
}
.main-body-area .first-section {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-gap: 5rem;
  position: relative;
  z-index: 2;
  margin-top: 20rem;
}
.main-body-area .first-section .box {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(86px);
  border-radius: 20px;
  border: 1px solid #78799d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 1.5rem;
}
.main-body-area .first-section .box .price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-body-area .first-section .box .price-wrapper .price {
  margin-bottom: 0.5rem;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.main-body-area .first-section .box .buttons-wrapper {
  /* display: flex; */
  width: 100%;
  border-radius: 10px;
  margin: 3rem 0rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(86px);
}
.main-body-area .first-section .box .buttons-wrapper button {
  height: 54px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.main-body-area .first-section .box .buttons-wrapper button.active {
  border-radius: 10px;
  border: 1px solid #a3a8c3;
  background-color: rgba(255, 255, 255, 0.2);
}
.main-body-area .first-section .box .rows-wrapper {
  width: 100%;
  color: #b9b9c8;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 3rem;
}
.main-body-area .first-section .box .rows-wrapper > .row {
  padding: 1rem 0rem;
  border-bottom: 1px solid #454563;
}
.main-body-area .first-section .box .rows-wrapper > .row > *:first-child {
  width: 50px;
}
.main-body-area .first-section .box .rows-wrapper > .row .grid-col-4 {
  width: 100%;
}
.main-body-area
  .first-section
  .box
  .rows-wrapper
  > .row
  .grid-col-4
  > *:not(*:first-child) {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.main-body-area .first-section .box #submit-button-label,
#submit-button-labe-form {
  width: 145px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 20px #f5d83567;
  background-color: #ffdc2d;
  border-radius: 10px;
  cursor: pointer;
}
.main-body-area .first-section .presentation {
  flex-direction: column;
  color: #fff;
  align-items: flex-end;
  text-align: right;
  position: relative;
  height: 100%;
}
.main-body-area .first-section .presentation img {
  position: absolute;
  top: -190px;
  right: -150px;
}
.main-body-area .first-section .presentation p {
  font-size: 35px;
  font-weight: 600;

  line-height: 60px;
}
.main-body-area .first-section .presentation p + p {
  margin-top: 2rem;
}
.main-body-area .first-section .presentation p span {
  display: block;
}
.main-body-area .first-section .presentation .paragraph-wrapper {
  margin-top: 14rem;
}

/* connects section */
.main-body-area .connects {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  position: relative;
  z-index: 2;
  margin-top: 25rem;
}
.main-body-area .connects .presentation p {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  line-height: 80px;
}
.main-body-area .connects .connects-connect-wrapper {
  height: 500px;
}
.main-body-area .connects .connects-connect-wrapper .connect,
.main-body-area .connects .connects-connect-wrapper {
  position: relative;
}
.main-body-area .connects .connects-connect-wrapper .connect > img {
  position: absolute;
  top: -30px;
}
.main-body-area .connects .connects-connect-wrapper .connect .icon-wrapper,
.main-body-area .connects .connects-connect-wrapper .connect p {
  margin-left: 4rem;
  padding-bottom: 10px;
}
.main-body-area .connects .connects-connect-wrapper .connect .icon-wrapper {
  padding-right: 1rem;
  width: 80px;
  margin-bottom: 10px;
  position: relative;
}
.main-body-area
  .connects
  .connects-connect-wrapper
  .connect
  .icon-wrapper::after {
  width: 100%;
  height: 3px;
  background-color: green;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
}
.main-body-area .connects .connects-connect-wrapper .connect > p {
  font-size: 14px;
  font-weight: 300;
  width: 200px;
  color: #b4b4c5;
  text-transform: capitalize;
}
.main-body-area .connects .connects-connect-wrapper .connect {
  position: absolute;
}

.main-body-area .connects .connects-connect-wrapper .connect:first-child {
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
}
.main-body-area
  .connects
  .connects-connect-wrapper
  .connect:first-child
  .icon-wrapper::after {
  background: linear-gradient(to right, #faec2b, #e3e9fb);
}
.main-body-area
  .connects
  .connects-connect-wrapper
  .connect:nth-child(2)
  .icon-wrapper::after {
  background: linear-gradient(to right, #15c5ff, #e3e9fb);
}
.main-body-area
  .connects
  .connects-connect-wrapper
  .connect:nth-child(3)
  .icon-wrapper::after {
  background: linear-gradient(to right, #fda118, #e3e9fb);
}
.main-body-area
  .connects
  .connects-connect-wrapper
  .connect:nth-child(4)
  .icon-wrapper::after {
  background: linear-gradient(to right, #e94d92, #e3e9fb);
}
.main-body-area
  .connects
  .connects-connect-wrapper
  .connect:nth-child(5)
  .icon-wrapper::after {
  background: linear-gradient(to right, #0fdec4, #e3e9fb);
}
.main-body-area .connects .connects-connect-wrapper .connect:nth-child(2) {
  top: 0;
  right: 0;
  transform: translate(0%, 0%);
}

.main-body-area .connects .connects-connect-wrapper .connect:nth-child(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-body-area .connects .connects-connect-wrapper .connect:nth-child(4) {
  bottom: 0%;
  left: 0%;
  transform: translate(0%, 0%);
}
.main-body-area .connects .connects-connect-wrapper .connect:nth-child(5) {
  bottom: 0%;
  right: 0%;
  transform: translate(0%, 0%);
}

/* slider area */
.our-algo {
  margin-top: 25rem;
  position: relative;
  z-index: 2;
}
.our-algo .top-level-inner {
  justify-content: space-between;
  color: #fff;
}
.our-algo .top-level-inner img {
  position: relative;
  z-index: 1;
}
.our-algo .top-level-inner h1 {
  text-align: right;
  font-size: 35px;
  font-weight: 600;
  line-height: 80px;
}
.our-algo .top-level-inner h1 span {
  display: block;
}

.slider-wrapper {
  margin-top: 2rem;
  overflow: hidden;
  padding: 6rem 0rem;
}
.slider-wrapper .slider-reel {
  transition: 0.3s ease all;
}
.slider-item-wrapper {
  padding: 1rem;
  width: 18%;
  min-width: 18%;
}
.slider-item-wrapper.active {
  width: 25%;
  min-width: 25%;
  position: relative;
}

.slider-item-wrapper.active > img {
  position: absolute;
  top: -40px;
  left: -30px;
  z-index: 222;
}
.slider-item-wrapper.active .slider-item {
  height: 250px;
  display: flex !important;
  flex-direction: column !important;
  background: linear-gradient(
    65deg,
    #bf4e56,
    #bf4e56,
    #c8893e,
    #c8893e,
    #c8893e,
    #c47a35,
    #c47a35
  );
  align-items: center !important;
  justify-content: center !important;
  border: none !important;
}
.slider-item-wrapper.active-second .slider-item {
  height: 210px;
}
.slider-item-wrapper.active .slider-item > p:first-child {
  font-size: 62px;
}
.slider-item-wrapper.active-second .slider-item > p:first-child {
  font-size: 42px;
}
.slider-item-wrapper.active .slider-item > p:first-child span {
  font-size: 72px;
  color: #fff;
}
.slider-item-wrapper.active-second .slider-item > p:first-child span {
  font-size: 70px;
}
.slider-item {
  padding: 0rem 2rem;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(86px);
  border: 1px solid #78799d;
  width: 100%;
  min-width: 100%;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}
.slider-item > p:first-child {
  font-size: 37px;
}
.slider-item > p:first-child span {
  font-size: 70px;
  font-weight: 300;
  color: #484870;
}
.slider-item > .Variable {
  font-size: 15px;
  font-size: 400;
}
.slider-item-wrapper.active .slider-item > .Variable {
  font-size: 24px !important;
  font-size: 400;
}
.slider-item-wrapper.active-second .slider-item > .Variable {
  font-size: 17px !important;
  font-size: 400;
}
.slider-item > .years {
  color: #484870;
  margin-top: 1rem !important;
}
.slider-item-wrapper.active .slider-item > .years {
  font-size: 19px !important;
  font-size: 400;
  border: 1px solid #fff;
  width: 120px;
  padding: 0.2rem 0rem;
  margin: 0rem auto;
  border-radius: 99px;
  color: #fff;
}
.slider-item-wrapper.active-second .slider-item > .years {
  font-size: 18px !important;
}
/* blogs-area */
.blogs-area {
  margin-top: 15rem;
  position: relative;
  z-index: 1;
}

.blogs-area .content-level h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 3.5em;
  font-size: 35px;
  line-height: 70px;
}
.blogs-area .cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}
.blogs-area .cards-wrapper > * {
  flex: 1;
  padding: 2rem 1rem;
  background-color: #26245e;

  border-radius: 10px;
}
.blogs-area .cards-wrapper h4 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 21px;
  font-weight: 500;
  line-height: 38px;
}
.blogs-area .cards-wrapper img {
  width: 100%;
}
.blogs-area .cards-wrapper a {
  display: block;
  color: #fff;
  text-align: right;
  margin-top: 1.5rem;
  text-decoration: underline;
}

/* review-area */
.review-area {
  margin-top: 35rem;
  position: relative;
  z-index: 1;
}
.review-area .top-level {
  color: #fff;
  width: 65%;

  margin: 0rem auto;
}
.review-area .top-level .image-wrapper {
  position: relative;
}
.review-area .top-level .image-wrapper img {
  position: absolute;
  top: -150px;
}
.review-area .top-level h1 {
  font-size: 35px;
  line-height: 70px;
  text-transform: capitalize;
}
.review-area .top-level h1 span {
  display: block;
}
.review-area .bottom-area {
  overflow: hidden;
  width: 60%;
  margin: 3rem auto;
}
.review-area .bottom-area .reviews-reel {
  display: flex;
  padding: 3rem 0rem;
  grid-gap: 5rem;

  margin-top: 8rem;
}
.review-area .bottom-area .review {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(86px);
  border: 1px solid #78799d;
  border-radius: 20px;
  padding: 2rem;
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
}
.review-area .bottom-area .review > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  width: 40px;
}
.review-area .bottom-area .review.active {
  transform: scale(1.2);
}
.review-area .bottom-area .review .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #393888;
  display: flex;
  background: #151447;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.review-area .bottom-area .review.active .profile-img {
  width: 70px;
  height: 70px;
}
.review-area .bottom-area .review .profile-img img {
  width: 40px;
}
.review-area .bottom-area .review.active > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
  width: 70px;
}
.review-area .bottom-area .review.active .profile-img img {
  width: 50px;
}
.review-area .bottom-area .review h3 {
  font-size: 19px;
  letter-spacing: 1px;
  margin-bottom: 16px;
  text-align: center;
}
.review-area .bottom-area .review p {
  color: #a6a5bb;
  font-size: 14px;
  font-weight: 300px;
  text-align: center;
}
/* get-in-touch-wrapper */
.get-in-touch-wrapper {
  color: #fff;
  margin-top: 25rem;
  margin-bottom: 25rem;
  position: relative;
  z-index: 2;
}
.get-in-touch-wrapper .inner-content h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 51px;
  font-weight: 600;
  margin-bottom: 13rem;
}
.get-in-touch-wrapper .inner-content > p {
  margin-top: 2rem;
  font-weight: 16px;
  font-weight: 500;
  line-height: 36px;
  color: #6a698a;
}

.get-in-touch-wrapper .inner-content form {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(86px);
  padding: 3rem 2rem;
  position: relative;
  border: 1px solid #78799d;
  border-radius: 30px;
}
.get-in-touch-wrapper .inner-content form .image-area img {
  position: absolute;
  top: -130px;
}
.get-in-touch-wrapper .inner-content form .input-wrapper {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #44436c;
  margin-bottom: 10px;
}

.get-in-touch-wrapper .inner-content form .input-wrapper input {
  flex: 1;
  height: 100%;
  margin-left: 1rem;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
}
.get-in-touch-wrapper .inner-content form .input-wrapper input::placeholder {
  color: #b9b9c8;
}

.get-in-touch-wrapper .inner-content form #submit-button-labe-form {
  color: #000 !important;
  margin-top: 4rem;
}
@media screen and (max-width: 1600px) {
  .main-body-area main .presentation h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 1350px) {
  .review-area .bottom-area {
    width: 90% !important;
  }
  .review-area .top-level .image-wrapper img {
    right: 0 !important;
  }
  .main-body-area .first-section {
    overflow: hidden;
  }
}
@media screen and (max-width: 1200px) {
  .first-section-bg {
    top: 1400px;
  }
  .second-section-bg {
    top: 2600px;
  }
  .third-section-bg {
    top: 3400px;
  }
  .fourth-section-bg {
    width: 4500px;
  }
  .fifth-section-bg {
    top: 5700px;
  }
  .sixth-section-bg {
    top: 7500px;
  }
  .main-body-area main {
    margin-bottom: 0px !important;
  }
  .main-body-area .first-section {
    margin-top: 30rem !important;
    overflow: visible;
  }
  .main-body-area .first-section .presentation {
    position: relative;
  }
  .main-body-area .first-section .presentation img {
    top: -290px;
    right: -10%;
    transform: translateX(10%);
  }
  .review-area {
    margin-top: 20rem;
  }
  .main-body-area main .hero-main-image {
    display: none;
  }
  .main-body-area main .presentation {
    text-align: center;
    width: 100%;
  }
  .main-body-area main .buttons-wrapper {
    margin-top: 5rem;
  }
  .main-body-area .first-section,
  .main-body-area .connects {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 50% !important;
  }
  .main-body-area .first-section > *:first-child,
  .main-body-area .connects > *:first-child {
    order: 2;
  }
  .main-body-area .first-section > *:last-child,
  .main-body-area .connects > *:last-child {
    order: 1;
  }

  .main-body-area .first-section .presentation .paragraph-wrapper {
    margin-bottom: 3rem;
    text-align: center;
    width: 100%;
  }
  .main-body-area .connects .connects-connect-wrapper {
    margin-bottom: 3rem;
  }
  .main-body-area .connects .presentation p,
  .our-algo .top-level-inner h1 {
    text-align: center;
  }
  .our-algo .top-level-inner {
    flex-direction: column;
  }
  .our-algo .top-level-inner h1 {
    margin-top: 3rem;
  }
  .review-area .top-level {
    grid-template-columns: 1fr;
    width: 50% !important;
    justify-items: center;
    text-align: center;
  }
  .review-area .top-level .image-wrapper img {
    position: static;
  }
}
@media screen and (max-width: 1200px) {
  .main-body-area main .presentation {
    margin-top: 12rem;
  }
  .main-body-area main .presentation h1 {
    font-size: 60px;
    width: 80%;
    margin: 0rem auto;
  }
  .mobile-navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #54246a;
    width: 60vw;
    z-index: 999;
    transition: 0.5s ease all;
  }
  .mobile-navbar a {
    color: #fff;
  }
  .main-body-area nav {
    display: none;
    /* left: 10%; */
  }
  .mobile-navbar.active {
    left: 0%;
  }
  .mobile-navbar {
    padding: 2rem;
  }
  .mobile-navbar > * + * {
    margin-left: 0rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .main-body-area .first-section,
  .main-body-area .connects,
  .review-area .top-level {
    width: 80% !important;
  }
  .review-area .bottom-area {
    overflow: auto;
  }
  .review-area .bottom-area .review {
    min-width: 100%;
  }
  .review-area .bottom-area .reviews-reel {
    margin-top: 0px !important;
  }
  .get-in-touch-wrapper {
    margin-top: 10rem !important;
  }
  .get-in-touch-wrapper .inner-content h1 {
    margin-bottom: 3rem !important;
  }
  .main-body-area main .presentation h1 {
    font-size: 50px;
    line-height: 85px;
  }
  .main-body-area .first-section .presentation img {
    display: none;
  }
  .main-body-area .first-section {
    margin-top: 10rem !important;
  }
  .get-in-touch-wrapper .inner-content form {
    grid-template-columns: 1fr;
  }
  .get-in-touch-wrapper .inner-content form .image-area {
    display: none;
  }
  footer .content-level > .grid-col-4 {
    grid-template-columns: 1fr 1fr !important;
  }
  .blogs-area .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 610px) {
  .review-area .top-level .image-wrapper img {
    width: 350px;
  }
}
@media screen and (max-width: 570px) {
  header > img {
    width: 110px !important;
    height: 90px !important;
  }
  .main-body-area main,
  .main-body-area main .presentation {
    margin-top: 6rem !important;
  }
  .blogs-area .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .main-body-area .first-section .presentation .paragraph-wrapper {
    margin-top: 4rem;
  }
  .main-body-area .connects,
  .review-area {
    margin-top: 8rem;
  }
  .main-body-area .connects .main-body-area main .presentation h1 {
    font-size: 35px;
    line-height: 25px;
    width: 100%;
  }
  .main-body-area main .buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-body-area main .buttons-wrapper button {
    height: 60px;
    font-size: 20px;
    width: 50%;
  }
  .main-body-area main .buttons-wrapper > * + * {
    margin-left: 0px;
    margin-top: 1rem;
  }
  .main-body-area .connects .connects-connect-wrapper .connect {
    position: static;
  }
  .main-body-area .connects .connects-connect-wrapper {
    height: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem; */
  }
  .main-body-area .connects .connects-connect-wrapper > * + * {
    margin-top: 2rem;
  }
  .main-body-area .connects .connects-connect-wrapper .connect:nth-child(3) {
    transform: translate(0, 0);
  }
  .main-body-area .first-section,
  .main-body-area .connects,
  .review-area .top-level {
    width: 100% !important;
  }
  .our-algo {
    margin-top: 15rem !important;
  }
  .main-body-area .first-section .presentation p,
  .main-body-area .connects .presentation p,
  .our-algo .top-level-inner h1,
  .blogs-area .content-level h1,
  .review-area .top-level h1 {
    font-size: 30px;
  }
  .get-in-touch-wrapper .inner-content h1 {
    font-size: 40px !important;
  }
  .our-algo .top-level-inner img {
    width: 80% !important;
  }
}
@media screen and (max-width: 500px) {
  .main-body-area main .presentation h1 {
    font-size: 35px;
    line-height: 60px !important;
    width: 100%;
  }
  .review-area .top-level .image-wrapper img {
    width: 100%;
  }
  .get-in-touch-wrapper .inner-content > p {
    text-align: center;
  }
}
@media screen and (max-width: 1400px) {
  .slider-item-wrapper {
    min-width: 25%;
    width: 25%;
  }
}
@media screen and (max-width: 1220px) {
  .slider-item-wrapper {
    min-width: 30%;
    width: 30%;
  }
  .slider-item-wrapper.active {
    min-width: 40%;
    width: 40%;
  }
}
@media screen and (max-width: 840px) {
  .slider-item-wrapper {
    min-width: 50%;
    width: 50%;
  }
  .slider-item-wrapper.active {
    min-width: 50%;
    width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .slider-item-wrapper {
    min-width: 100%;
    width: 100%;
  }
  .slider-item-wrapper.active {
    min-width: 100%;
    width: 100%;
  }
}
