@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w-1300 {
  width: 1600px;
}
.w-1300,
.w-75 {
  margin: 0rem auto;
}
.w-75 {
  width: 75%;
}
.d-flex,
.d-flex-align-center,
.d-flex-justify-center {
  display: flex;
}
.d-flex-align-center {
  align-items: center;
}
.d-flex-justify-center {
  justify-content: center;
}

.d-grid,
.grid-col-2,
.grid-col-3,
.grid-col-4 {
  display: grid;
}
.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

ul,
nav {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #06053c;
}

/* header */
header {
  justify-content: space-between;
  padding-top: 2.5rem;
  position: relative;
  z-index: 2;
}
header nav > * + * {
  margin-left: 2rem;
}
header nav a {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}
header > img {
  width: 138px;
  height: 122px;
}


footer{
  
  background:linear-gradient(45deg, #06053c,#372562);
  padding: 4rem 0rem;
  color: #fff;
}
footer .content-level > .grid-col-4{
  grid-gap: 8rem !important;
}
footer p{
  font-size: 14px;
  font-weight: 300;
  margin-top: 2rem;
  color: #9d9cb3;
  line-height: 31px;
}
footer .content-level > .grid-col-4 .head{
  font-size: 22px;
  font-weight: 300;

}

footer .content-level > .grid-col-4 .col > *+*{
  margin-top: 2rem;
}

footer .content-level > .grid-col-4 .col a{
  font-size: 15px;
  font-weight: 400;  color: #9d9cb3;
}
footer .content-level .social-icons-wrapper {
  margin-top: 2rem;
}
footer .content-level .social-icons-wrapper > *+*{
  margin-left: 1.5rem;
}